.question-table {
  width: 100%;
}

.mat-column-position {
  width: 32px;
  padding-right: 24px;
  text-align: center;
}

.mat-column-question {
  padding-left: 16px;
  font-size: 18px;
}

.mat-column-actions {
  /* prevents content from wrapping to a new line */
  white-space: nowrap;
  /* alligns content to right of the cell */
  text-align: right;

  button {
    /* adds margin to the right of each button */
    margin-right: 8px;
  }

  button:last-child {
    /* removes margin from the last button */
    margin-right: 0;
  }
}

.text-uppercase {
  text-transform: uppercase;
}
